---
layout: workshop
root: .
venue: University of Florida
address: University of Florida
country: us
language: en
latlng: 30.347082,-81.663823
humandate: January 21-22, 2016
humantime: 09:00-16:00
startdate: 2016-01-21
enddate: 2016-01-22
instructor: ["Greg Wilson"]
helper: ["Ethan White"]
contact: gvwilson@software-carpentry.org
etherpad:         # optional (insert the URL for your Etherpad if you're using one)
eventbrite:       # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
---
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>General Information</h2>

<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  and <a href="{{site.dc_site}}">Data Carpentry</a>'s mission is to
  help scientists and engineers get more research done in less time
  and with less pain by teaching them basic lab skills for scientific
  computing.  This hands-on two-day workshop will introduce people to
  our teaching methods and curriculum.
</p>

<p>
  <strong>Who:</strong> This course is designed for people who are
  already familiar with some of the basic content of
  either <a href="{{site.swc_site}}">Software Carpentry</a>
  or <a href="{{site.dc_site}}">Data Carpentry</a> and wish to teach
  workshops.  Note that participants do <em>not</em> need to be
  experts in the topics these workshops cover, but should have taken
  part in a workshop before attending.
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong> Participants must bring a laptop, and
  are required to abide by Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Key concepts and formative assessment</td> </tr>
      <tr> <td>10:30</td> <td>Teaching as a performance art</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td>Concept mapping</td> </tr>
      <tr> <td>14:30</td> <td>Motivation and demotivation</td> </tr>
      <tr> <td>16:00</td> <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Alternative formative assessment techniques</td> </tr>
      <tr> <td>10:30</td> <td>Live coding and active learning</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td>Setting up and running a workshop</td> </tr>
      <tr> <td>14:30</td> <td>Next steps</td> </tr>
      <tr> <td>16:00</td> <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}
